body {
  margin: 0;
  font-family: "Segoe UI"
}

.header {
  background-color: slateblue;
  text-align: center;
}

/*Adjust zip code input size*/
input {
  width: 100px;
  height: 20px;
  text-align: center;
}

/*Hide up/down arrows on Chrome, Safari, Edge, Opera*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/*Hide up/down arrows on mozilla*/
input[type='number'] {
    -moz-appearance:textfield;
}

/*Button*/
button {
  background-color: #1a73e8;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
  font-size: 16px;
  padding: 3px 10px;
  color: whitesmoke;
  font-family: "Segoe UI";
}

button:hover{
  background-color: #2b7de9;
  cursor: pointer;
}

button:active{
  background-color: #63a0ef;
  cursor: pointer;
}

.button {
  text-align: center;
}

/*City name*/
.city{
  margin-top: 30px;
  text-align: center;
  font-size: 30px;
}

.row {
  text-align: center;
  margin: 40px auto;
}

.col {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  width: 150px;
  border: 1px solid black;
}

/*Comments below weather forecast*/
.instructions{
  text-align: center;
}

/*Size adjustments for smaller screens*/
@media only screen and (max-width: 1250px){
.instructions{
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
}

@media only screen and (max-width: 728px) {
.col {
  width: 120px;
}
}

@media only screen and (max-width: 608px) {
.col {
  width: 100px;
}
}

@media only screen and (max-width: 528px) {
.col {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 150px;
}
}




